In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Chokurdakh,RU,2021-03-31 04:31:22,70.6333,147.9167,4.33,94,95,2.80
1,1,Hermanus,ZA,2021-03-31 04:31:24,-34.4187,19.2345,57.00,95,11,6.51
2,2,Ushuaia,AR,2021-03-31 04:30:04,-54.8000,-68.3000,41.00,70,0,8.05
3,3,Lavrentiya,RU,2021-03-31 04:31:24,65.5833,-171.0000,-3.91,87,82,6.11
4,4,Vila Franca Do Campo,PT,2021-03-31 04:31:24,37.7167,-25.4333,57.20,88,20,8.05

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [12]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
5,5,Humberto De Campos,BR,2021-03-31 04:31:25,-2.5983,-43.4611,75.07,94,100,3.91
6,6,Iralaya,HN,2021-03-31 04:31:25,15.0000,-83.2333,78.66,83,13,16.20
9,9,Puerto Escondido,MX,2021-03-31 04:31:26,15.8500,-97.0667,80.10,65,1,4.83
10,10,Mumford,GH,2021-03-31 04:31:27,5.2618,-0.7590,79.02,89,78,9.35
12,12,Rikitea,PF,2021-03-31 04:31:27,-23.1203,-134.9692,79.14,66,7,16.49
13,13,Vaitape,PF,2021-03-31 04:31:27,-16.5167,-151.7500,82.00,69,99,5.61
14,14,Vaini,TO,2021-03-31 04:31:28,-21.2000,-175.2000,84.20,79,20,8.05
16,16,Acajutla,SV,2021-03-31 04:31:28,13.5928,-89.8275,80.46,67,1,7.52
17,17,Mahebourg,MU,2021-03-31 04:31:28,-20.4081,57.7000,78.80,89,20,1.14
18,18,Avarua,CK,2021-03-31 04:31:30,-21.2078,-159.7750,80.60,78,75,6.91

In [13]:
preferred_cities_df.count()

City_ID       146
City          146
Country       146
Date          146
Lat           146
Lng           146
Max Temp      146
Humidity      146
Cloudiness    146
Wind Speed    146
dtype: int64

In [14]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                  City Country  Max Temp      Lat       Lng Hotel Name
5   Humberto De Campos      BR     75.07  -2.5983  -43.4611
6              Iralaya      HN     78.66  15.0000  -83.2333
9     Puerto Escondido      MX     80.10  15.8500  -97.0667
10             Mumford      GH     79.02   5.2618   -0.7590
12             Rikitea      PF     79.14 -23.1203 -134.9692
13             Vaitape      PF     82.00 -16.5167 -151.7500
14               Vaini      TO     84.20 -21.2000 -175.2000
16            Acajutla      SV     80.46  13.5928  -89.8275
17           Mahebourg      MU     78.80 -20.4081   57.7000
18              Avarua      CK     80.60 -21.2078 -159.7750

In [15]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [17]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [18]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
5,Humberto De Campos,BR,75.07,-2.5983,-43.4611,Pousada do Cabeça
6,Iralaya,HN,78.66,15.0000,-83.2333,Iglesia morava renovada
9,Puerto Escondido,MX,80.10,15.8500,-97.0667,Aldea del Bazar Hotel and Spa
10,Mumford,GH,79.02,5.2618,-0.7590,Spanish Villa
12,Rikitea,PF,79.14,-23.1203,-134.9692,Pension Maro'i
13,Vaitape,PF,82.00,-16.5167,-151.7500,Conrad Bora Bora Nui
14,Vaini,TO,84.20,-21.2000,-175.2000,Keleti Beach Resort
16,Acajutla,SV,80.46,13.5928,-89.8275,asi es
17,Mahebourg,MU,78.80,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
18,Avarua,CK,80.60,-21.2078,-159.7750,Paradise Inn

In [20]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [23]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))